<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h1><%= question.title %></h1>
    <p><%= question.description %></p>
    <hr />
    <form method="POST" action="/save-response">
      <h3>Responda</h3>
      <textarea
        placeholder="Digite sua resposta"
        class="form-control"
        name="body"
      ></textarea>
      <br />
      <input type="hidden" name="questionId" value="<%= question.id %>" />
      <button type="submit" class="btn btn-primary">Responder</button>
    </form>
    <hr />
    <h3>Respostas</h3>
    <hr />
    <% responses.forEach(response => { %>
    <br />
    <div class="card">
      <div class="card-body">
        <p><%= response.body %></p>
      </div>
    </div>
    <% }); %>
  </div>
</body>
<%- include('partials/footer.ejs') %>
