<%- include('../../partials/header') %> <%- include('../../partials/navbar') %>
<div class="container">
  <hr />
  <h2>Categorias</h2>
  <a class="btn btn-success" href="/admin/categories/new">
    Criar nova categoria
  </a>
  <hr />
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.title %></td>
        <td><%= category.slug %></td>
        <th>
          <a
            class="btn btn-warning"
            href="/admin/categories/edit/<%= category.id %>"
            >Editar</a
          >

          <form
            method="POST"
            action="/categories/delete"
            style="display: inline"
            onsubmit="deleteCategory(event, this)"
          >
            <input type="hidden" name="id" value="<%= category.id %>" />
            <button class="btn btn-danger">Excluir</button>
          </form>
        </th>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>
<%- include('../../partials/footer') %>
<script>
  function deleteCategory(event, form) {
    event.preventDefault()
    confirm('Você tem certeza que deseja excluir esta categoria?')
      ? form.submit()
      : null
  }
</script>
